# .vscode
# !.vscode/settings.json

# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
/public
.DS_Store
# src/assets/greg-stevens-pro.png:Zone.Identifier
# OneDrive Zone.Identifier
*:Zone.Identifier

# Local Files, backups, scratchpad, etc.
.local
